*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

img {
  width: 100%;
  height: 100%;
}

a{
  text-decoration: none;
}

.white{
  color: white;
}

.false {
  text-decoration: line-through;
}

.container{
  margin: 0 auto;
  text-align: center;
}

.bk-orange{
  background-color: rgb(255, 105, 0);
}

.red {
  color: red;
}

/* header  */

header .container{
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 80px;
}

.container .cataloghi,
.container .icon {
  line-height: 80px;

}

#logo  {
  margin: auto 0;
  height: 30%;

}

/* main  */

main .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  width: 70%;
  max-width: 900px;
  border: solid 1px red;
}

.container .card {
  display: inline-block;
  width: calc(97% /3) ;
  min-width: 200px;
  margin-bottom: 25px;
  /* border: 1px solid black; */
}

.card .product {
  position: relative;
  width: 100%;
  height: 350px;
  cursor: pointer;
}

.product img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product img + img{
  display: none;
}

.product:hover img + img{
  display: block;
}

.preferiti , .sale , .category {
  position: absolute;
  padding: 0px 5px;
  height: 20px;
}

.preferiti{
  background-color: white;
  top: 10px;
  right: 0px
}

.preferiti:hover{
  background-color: white;
  color: red;

}

.sale {
  background-color: red;
  color: white;
  width: 30px;
  font-size: 8px;
  line-height: 20px;
  bottom: 30px;
}

.category{
  background-color: green;
  bottom: 30px;
  left: 35px;
  width: 50px;
  font-size: 8px;
  line-height: 20px;
}

.card .info {
  text-align: left;
  line-height: 12px;
}

.card .info span {
  font-size: 12px;

}

.card .info .name {
  text-transform:uppercase;
  font-weight:bolder;
  font-size: 12px;

}

footer {
  background-color: black;

}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  height: 100px; 
}