*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

}

img {
  width: 100%;
  height: 100%;
}

a{
  text-decoration: none;
}

.white{
  color: white;
}

.container{
  margin: 0 auto;
  text-align: center;
}

.bk-orange{
  background-color: rgb(255, 105, 0);
}

header .container{
  display: flex;
  justify-content: space-between;
  width: 70%;
  height: 80px;
}

.container .cataloghi,
.container .icon {
  line-height: 80px;

}

#logo  {
  margin: auto 0;
  height: 30%;

}

main .container {
  margin-top: 40px;
  width: 70%;
  border: solid 1px red;
}

.container .card {
  width: calc(100% /3) ;
  border: 1px solid black;
}

.card .product {
  position: relative;
  width: 100%;
  height: 350px;
}

.product img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.preferiti , .sale , .category {
  position: absolute;
  width: 20px;
  height: 20px;
  border: solid 1px black;
}

.preferiti{
  top: 10px;
  right: 0px
}

.sale {
  bottom: 30px;
}

.category{
  bottom: 30px;
  left: 30px;
}

.card .info {
  text-align: left;
}